.details-drawer {
    background: var(--lumo-base-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    z-index: 10;
    position: absolute;
    right: 0;
    flex: none;
    box-sizing: border-box;
    padding-bottom: 40px;
}

.details-drawer[open] {
    box-shadow: var(--lumo-box-shadow-m);
}

.details-drawer__header {
    flex-shrink: 0;
}

.details-drawer__header vaadin-tabs {
    box-shadow: none;
}

.details-drawer__content {
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
    flex: 1;
    -webkit-overflow-scrolling: touch;
}

.details-drawer__footer {
    flex-shrink: 0;
    justify-content: start;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

@media (max-width: 719px) {
    .details-drawer {
        left: 0;
        margin: 0;
        min-width: 100%;
        position: fixed;
        top: 0;
        z-index: 3;
    }

    .details-drawer:not([open])[position="right"] {
        transform: translateX(100%);
    }

    .details-drawer:not([open])[position="bottom"] {
        transform: translateY(100%);
    }
}

@media (min-width: 720px) {
    .details-drawer[position="bottom"] {
        height: 400px;
    }

    .details-drawer:not([open])[position="bottom"] {
        margin-bottom: -400px;
    }

    .details-drawer[position="right"] {
        width: calc(var(--details-drawer-width) * 1.8);
    }

    .details-drawer:not([open])[position="right"] {
        margin-right: calc(var(--details-drawer-width) * -1.8);
    }
}
