<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
</head>
<body style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;">
<div class="container">
    <div class="panel">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <p>Dear All,</p>
            <br/>
            <p>This is a reminder for you to work on the Means Test renewal for applicant name <a href="${link}">${admissionName}</a>
                with Means Test Expiry Date is ${date}.
            </p>
            <br/>
            <p>Thank you and regards,</p>
            <p>Bishan Home.</p>
        </div>
        <br/>
    </div>
</div>

</body>
</html>